DirectoryIndex index.php

    RewriteEngine on

    RewriteCond $1 !^(index.php|images|stylesheets|system/application/sources/)

    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]

<IfModule mod_env.c>
    SetEnv CI_ENV development
</IfModule>